@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap');

@theme {
  --font-digital: "Orbitron", sans-serif;
}

@keyframes glitch {
  0% {
    transform: translate(0);
    text-shadow: -2px 0 #ff00c1, 2px 0 #00fff9;
  }
  25% {
    transform: translate(-2px, 2px);
    text-shadow: 2px 0 #ff00c1, -2px 0 #00fff9;
  }
  50% {
    transform: translate(2px, -2px);
    text-shadow: -2px 0 #ff00c1, 2px 0 #00fff9;
  }
  75% {
    transform: translate(-2px, -2px);
    text-shadow: 2px 0 #ff00c1, -2px 0 #00fff9;
  }
  100% {
    transform: translate(0);
    text-shadow: -2px 0 #ff00c1, 2px 0 #00fff9;
  }
}

.animate-glitch {
  animation: glitch 0.3s cubic-bezier(.25, .46, .45, .94) both infinite;
}
